* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #3AAFA9;
}

h1,
h2,
h3,
h4,
h5,
h6,
#top {
  font-family: 'Bree Serif', serif;
}

/* Top */

header {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #2B7A78;
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.1em;
  z-index: 10;
  border-bottom: 1px solid white;
}

#myname {
  padding-left: 20px;
  text-shadow: 0.08em 0.1px rgb(100, 100, 100);
  font-size: 1.6em;
  color: #FEFFFF;
  text-decoration: none;
}

#myname::after {
  content: " Ungureanu Vrânceanu";
}

nav {
  flex-basis: 30%;
  font-size: 1.2em;
  margin-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav>a {
  color: white;
  text-decoration: none;
  padding: 0.5em 0.9em;
  margin: 0.3em 1em;
  text-align: center;
  border-radius: 0.8em;
}

nav>a[href="contact.html"] {
  background-color: #17252A;
}

nav>a:hover {
  background-color: #DEF2F1;
  color: #17252A;
  transition: 0.2s linear;
}

footer {
  width: 100%;
  background-color: #2B7A78;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}

#footer-name {
  margin-right: 30px;
  margin-left: 20px;
}

footer>a {
  width: 40px;
  height: 40px;
  margin: 10px;
  display: inline-block;
}

footer>a>img {
  width: inherit;
  height: inherit;
}

/* Main Section */

main {
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  color: #17252A;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  font-size: 11em;
  font-style: italic;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px #FEFFFF;
}

#intro {
  color: #DEF2F1;
  font-size: 8em;
  font-style: italic;
  text-shadow: 2px 2px black;
  letter-spacing: 0.1em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5em;
}

#intro-name {
  color: #17252A;
  text-shadow: 2px 2px #FEFFFF;
}

#info {
  color: #DEF2F1;
  font-size: 3em;
  font-style: italic;
  text-shadow: 2px 2px black;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: #2B7A78;
  padding: 0.5em 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 2em;
  border-radius: 5em;
}

/* Contact */
form {
  display: flex;
  width: min(100%, 50em);
  flex-direction: column;
}

form>* {
  margin: 0.5em 0.5em;
  background-color: #DEF2F1;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 0.6em;
}

form>button {
  margin-bottom: 2em;
}

#message {
  resize: none;
  font-size: 2em;
}

@media (max-width: 1200px) {
  #myname::after {
    content: "";
  }

  nav>a {
    padding: 0.5em 0.5em;
    margin: 0.3em 0.5em;
  }

  h1 {
    font-size: 8em;
  }

  #intro {
    font-size: 5em;
  }

  #info {
    font-size: 2em;
  }

  form>* {
    font-size: 2em;
  }
}

@media (max-width: 700px) {
  #myname {
    display: none;
  }

  #top {
    height: auto;
  }

  nav {
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  nav>a {
    flex: 35%;
    padding: 0.5em 0.5em;
  }

  main {
    top: 5em;
  }

  h1 {
    font-size: 4em;
    margin-top: 1em;
  }

  #intro {
    font-size: 3em;
  }
}